@import "tailwindcss";

:root {
  --primary-bg: #ffffff;
  --secondary-bg: #F5F5F7;
  --text: #171717;
  --red: #EF5342;
  --gray: #323232;
  --font-inter: "Inter", sans-serif;
}

[data-theme='dark'] {
  --primary-bg: #000000;
  --secondary-bg: #141414;
  --text: #fffdfd;

}

html {
  font-family: var(--font-inter);
  height: 100dvh;
  width: 100dvw;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background: var(--secondary-bg);
  /* background: yellow; */
  width: 100%;
  padding: 0 10px;
  color: var(--text);
  font-family: var(--font-inter);
  transition: background-color 300ms ease, color 300ms ease;
}

@media (prefers-reduced-motion: reduce) {
  body {
    transition: none;
  }
}

* {
  box-sizing: border-box;
}